/*@media only screen and (max-width: 874px) {
    header nav ul li{
        margin-left: 12px;
    }*/
 /*   .what_we_do .cards{
        display: flex;
        justify-content: center;
    }
    .tools article p{
        max-width: 400px;
    }
    .tools article{
        margin-left: 10px;
    }
    .logotip .past img:first-of-type{
        margin-left: 10px;
    }
    .logotip .past img:last-of-type{
        margin-right: 10px;
    }
    footer .container .left_first{
        margin-left: 10px;
    }
    footer .container form{
        margin-right: 10px;
    }
    footer .container .icons_footer{
        margin-right: 10px;
    }*/

/*@media only screen and (max-width: 794px) {
    header nav ul li a{
        font-size: 11px;
    }
    header nav ul li{
        margin-left: 8px;
    }
}*/
@media only screen and (max-width: 769px) {
    .what_we_do .cards {
        justify-content: center;
    }

    header nav ul li a {
        font-size: 11px;
    }

    header nav ul{
        display: block;
    }
    header nav ul li {
        margin-left: 8px;
    }

    header nav ul li {
        margin-left: 8px;
    }

    .tools {
        min-height: 280px;
    }

    .tools .by_img {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 280px;
    }

    .tools .container p {
        max-width: 350px;
    }

    .tools .container {
        max-width: 710px;
        min-height: 280px;
    }

    footer {
        padding: 50px 15px;
    }

    .past {
        justify-content: space-around;
    }

    .nav-but-wrap {
        display: inline-block;
    }
    .nav {
        position: fixed;
        z-index: 98;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        left: 0;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }

    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;

        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav__list-item a{
        position: relative;
        text-decoration: none;
        color: rgba(255,255,255,0.6);
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 900;
        z-index: 2;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:after{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:hover:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    .nav__list-item a:hover{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
}
/*@media only screen and (max-width: 707px) {
    header nav{
        display: none;
    }
}*/
@media only screen and (max-width: 429px){
    .tools .by_img {
        position: relative;
        width: 100%;
        height: 400px;
    }

    footer {
        padding-top: 0;
    }

    footer .container {
        display: block;
        padding: 0 15px;
        max-width: 400px;
    }

    footer .container p {
        font-size: 11px;
        margin-bottom: 10px;
    }

    footer .container:nth-child(3) .left_first a {
        font-size: 11px;
    }

    footer .right_first ul {
        min-width: inherit;
    }

    .main_banner {
        display: block;
        height: calc(80vh - 83px);
    }

    .main_banner article h1 {
        font-size: 45px;
        line-height: 39px;
    }

    .main_banner article h3 {
        color: #181818;
        margin-bottom: 15px;
    }

    .bottom_icons {
        bottom: 21px;
    }

    .what_we_do {
        padding-top: 53px;
        padding-bottom: 0;
    }

    .sunset {
        min-height: 350px;
    }

    .tools .container {
        max-width: 428px;
        min-height: 350px;
        padding: 0 15px;
    }

    .leafs {
        min-height: 428px;
    }

    .logotip {
        min-height: 428px;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .himalayas {
        min-height: 428px;
    }

    .past {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .features {
        padding: 0;
    }

    .features article h4 {
        font-size: 28px;
    }

    .icons_footer {
        margin: auto;
    }

    footer .container:nth-child(3) {
        padding-top: 30px;
    }
}
@media only screen and (max-width: 415px){
    .main_banner article p{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 391px) {
    .features article h4 {
        font-size: 26px;
    }

    .what_we_do h4 {
        font-size: 21px;
    }

    footer .container:nth-child(1) p {
        font-size: 10px;
    }
}
@media only screen and (max-width: 376px){
    .logotip .past{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .what_we_do .container h4{
        margin-left: 6px;
        margin-right: 6px;
    }
    .tools article p{
        margin-right: 6px;
    }
}
@media only screen and (max-width: 361px){
    footer .container .left_first p {
        font-size: 9px;
    }

    footer .container:nth-child(3) .left_first a {
        font-size: 9px;
    }

    .leafs {
        padding-right: 0;
        justify-content: center;
    }

    .sunset {
        padding-right: 0;
        justify-content: center;
    }

    .main_banner article h1 {
        font-size: 40px;
    }

    .main_banner article p {
        font-size: 13px;
        padding: 0 10px;
        text-align: justify;
    }

    .what_we_do h4 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 321px){
    .main_banner article h1 {
        font-size: 37px;
    }

    .what_we_do h4 {
        font-size: 18px;
    }

    .bottom_icons {
        position: absolute;
        right: 6px;
    }

    .tools .container h4 {
        font-size: 25px;
    }

    footer .container:nth-child(1) p {
        font-size: 8px;
    }
}