@media only screen and (max-width: 874px) {
    header nav ul li{
        margin-left: 12px;
    }
    .what_we_do .cards{
        display: flex;
        justify-content: center;
    }
    .tools article p{
        max-width: 400px;
    }
    .tools article{
        margin-left: 10px;
    }
    .logotip .past img:first-of-type{
        margin-left: 10px;
    }
    .logotip .past img:last-of-type{
        margin-right: 10px;
    }
    footer .container .left_first{
        margin-left: 10px;
    }
    footer .container form{
        margin-right: 10px;
    }
    footer .container .icons_footer{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 794px) {
    header nav ul li a{
        font-size: 11px;
    }
    header nav ul li{
        margin-left: 8px;
    }
}
@media only screen and (max-width: 769px) {
    .what_we_do .cards{
        display: flex;
        justify-content: center;
    }
    .tools .by_img{
        width: 100%;
        position: relative;
        height: 500px;
    }
    .tools article{
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 707px) {
    header nav{
        display: none;
    }
}
@media only screen and (max-width: 429px){
    .logotip .past{
        display: flex;
        flex-wrap: wrap;
    }
    footer .right_first{
        display: block;
    }
    .tools article{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 415px){
    .main_banner article p{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 376px){
    .logotip .past{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .what_we_do .container h4{
        margin-left: 6px;
        margin-right: 6px;
    }
    .tools article p{
        margin-right: 6px;
    }
}
@media only screen and (max-width: 361px){
    footer .right_first ul{
        text-align: center;
        margin-left: 0;
    }
    footer{
        padding-top: 0;
    }
    footer .container .left_first{
        text-align: center;
        margin-right: 10px;
    }
    footer .container .right_first{
        margin-top: 15px;
    }
    .sunset article{
        margin-left: 10px;
    }
    .leafs article{
        margin-left: 10px;
    }
    .himalayas article{
        margin-left: 10px;
    }
    footer .container:first-of-type{
        display: block;
        margin: auto;
    }
}
@media only screen and (max-width: 321px){
    .main_banner{
        height: calc(100vh - 85px);
    }
    .bottom_icons{
        flex-wrap: wrap;
    }
}