*{
    margin: 0;
    padding: 0;
}
header {
    background-color: #181818;
    padding-top: 24px;
    padding-bottom: 24px;
}
header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li {
    margin-left: 32px;
}
header nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}

header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    font-size: 16px;
    color: black;
}
   /* main_banner */

.main_banner {
    background-image: url("../images/aperture_studios.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main_banner article {
    max-width: 580px;
    text-align: center;
}
.main_banner article h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner article h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0
}
    /*Sunset at Mount Fuji*/
.sunset {
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items:center;
    padding-right: 62px;
    box-sizing: border-box;
    position: relative;
}
.sunset article {
    max-width: 298px;
    font-family: 'Poppins', sans-serif;
}
.sunset article h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
    /* Monstera Leafs*/
.leafs{
    background-image: url("../images/monstera.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items:center;
    padding-right: 87px;
    box-sizing: border-box;
    position: relative;
}
.leafs_title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.leafs_text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.container_leafs {
    max-width: 273px;
    text-align: left;
}
    /*Himalayas*/
.himalayas{
    background-image: url("../images/himalays.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items:center;
    padding-right: 119px;
    box-sizing: border-box;
    position: relative;
}
.himalayas_title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 254px;
}
.himalayas_text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    max-width: 241px;
}
.container_himalayas {
    text-align: left;
    display: flex;
    align-items: flex-end;
}
/*Need help with photography or videography?*/
.features{
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 108px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    text-align: center;
}
.features article{
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
}
.features h6{
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.features p{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.features a{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 5px 10px 5px 4px;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.features a::before{
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
    display: inline-block;
}
    /*what we do*/
.what_we_do{
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 84px;
}
.what_we_do .container {
    max-width: 1168px;
    margin: auto;
}
.what_we_do h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.what_we_do .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do .cards article{
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
.what_we_do .cards article img {
    display: block;
    width: 100%;
}
.what_we_do .description h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: left;
}
.what_we_do .description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}

.what_we_do .description a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 5px 10px 5px 4px;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.what_we_do .description a::before{
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
    display: inline-block;
}
/*Logotip*/
.logotip {
    background: #000000;
    padding-top: 113px;
    padding-bottom: 140px;
    box-sizing: border-box;
    min-height: 500px;
}

.logotip_container {
    margin: auto;
    max-width: 1168px;
    font-family: 'Poppins', sans-serif;
}

.past {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotip_container h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.logotip_container h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
        /*Tools*/
.tools {
    position: relative;
    min-height: 540px;
    background-color: black;
}

.tools .container {
    margin: auto;
    max-width: 1240px;
    color: white;
    min-height: 540px;
    display: flex;
    align-items: center;
}

.tools .by_img {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/tools.jpg");
    background-size: cover;
}

.container h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}

.container h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.container p {
    max-width: 514px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.tools .container article a {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding-right: 10px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
}

.tools .container article a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 5px 6px 5px 4px;
    background: black;
    border-radius: 40%;
    text-align: center;
}
        /*Icons*/
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom_icons {
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    list-style: none;
}

.bottom_icons li {
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.bottom_icons li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/decor_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -6px;
}

.bottom_icons li:nth-child(2):before {
    background-image: url("../images/decor_2.svg");
}

.bottom_icons li:nth-child(3):before {
    background-image: url("../images/decor_3.svg");
    width: 32px;
}

.bottom_icons li:nth-child(4):before {
    background-image: url("../images/decor_4.svg");
    width: 10px;
}